<footer class="bg-dark">
  <div id="copyright" class="">
    <small><strong>© 2017 - 2019 Arc-Team srl | <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0" ngbTooltip="Creative Commons Attribution-Share Alike 4.0 International" placement="top" target="_blank">CC BY-SA 4.0</a></strong></small>
  </div>
  <div id="lang" class="">
    <a class="switchLang animation" (click)="setLang('de')" [class.active]="isActive('de')" placement="top" ngbTooltip="sprache wechseln">de</a>
    <a class="switchLang animation" (click)="setLang('en')" [class.active]="isActive('en')" placement="top" ngbTooltip="change language">en</a>
    <a class="switchLang animation" (click)="setLang('it')" [class.active]="isActive('it')" placement="top" ngbTooltip="cambia lingua">it</a>
  </div>
</footer>
