<div class="main p-2">
  <div class="container">
    <div class="row border-dark border-top border-bottom mb-3">
      <div class="col">
        <div class="py-2">
          <h3>Partner</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Kartisch</h5>
          </div>
          <div class="card-body">
            <img src="../../assets/img/partner/Kartisch.png" class="" alt="Kartisch logo">
            <p class="card-text">{{'PARTNER.kartisch' | translate}}</p>
          </div>
          <div class="card-footer text-right">
            <a href="http://www.kartitsch.at/" target="_blank" class="animation">{{'PARTNER.link' | translate}}</a>
          </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none my-2"></div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Comelico Superiore</h5>
          </div>
          <div class="card-body">
            <img src="../../assets/img/partner/comelico.png" class="" alt="Comelico Superiore logo">
            <p class="card-text">{{'PARTNER.comelico' | translate}}</p>
          </div>
          <div class="card-footer text-right">
            <a href="http://www.comelicosuperiore.info/" target="_blank" class="animation">{{'PARTNER.link' | translate}}</a>
          </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none my-2"></div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Associazione turistica Sesto</h5>
          </div>
          <div class="card-body">
            <img src="../../assets/img/partner/sesto.png" class="" alt="Associazione turistica Sesto logo">
            <p class="card-text">{{'PARTNER.sesto' | translate}}</p>
          </div>
          <div class="card-footer text-right">
            <a href="https://www.tre-cime.info/it/area-vacanze-in-alto-adige.html" target="_blank" class="animation">{{'PARTNER.link' | translate}}</a>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          <h5 class="card-title">CLLD Dolomiti Live</h5>
        </div>
        <div class="card-body">
          <img src="../../assets/img/partner/clld.jpg" class="" width="100%" alt="CLLD Dolomiti Live logo">
          <p class="card-text">{{'PARTNER.clld' | translate}}</p>
        </div>
        <div class="card-footer text-right">
          <a href="http://www.interreg.net/en/default.asp" target="_blank" class="animation">{{'PARTNER.link' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
