<nav class="navbar fixed-top bg-dark">
  <span class="title">1753</span>
  <div class="justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link animation" routerLink="home" routerLinkActive="active" placement="bottom" ngbTooltip="{{'NAV.home' | translate}}">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animation" routerLink="project" routerLinkActive="active" placement="bottom" ngbTooltip="{{'NAV.project' | translate}}">project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animation" routerLink="media" routerLinkActive="active" placement="bottom" ngbTooltip="{{'NAV.media' | translate}}">media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animation" routerLink="map" routerLinkActive="active" placement="bottom" ngbTooltip="{{'NAV.map' | translate}}">map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animation" routerLink="partner" routerLinkActive="active" placement="bottom-right" ngbTooltip="{{'NAV.partner' | translate}}" container="body">partner</a>
      </li>
    </ul>
  </div>
</nav>
